.tablekey {
    border: 2px white solid;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 30vw;
    width: 100%;
    text-overflow: ellipsis;
}

.tablekey__content {
    padding: 0;
    margin: 3px auto;
}