.footer {
  display: flex;
  justify-content: space-between;
  margin: auto 80px 15px;
}

.footer__copyright {
  margin: 0;
}

.footer__links {
  margin: auto 0 auto 0;
  display: flex;
  gap: 10px;
  transition: box-shadow 0.2s linear;
}

.footer__links_linkedin {
  max-width: 30px;
  width: 100%;
  min-height: 30px;
  transition: box-shadow 0.2s linear;
}

.footer__links_linkedin:hover {
  box-shadow: 0 0 10px 5px #fff;
}

.footer__links_github {
  max-width: 30px;
  width: 100%;
  min-height: 30px;
  transition: box-shadow 0.2s linear;
}

.footer__links_github:hover {
  box-shadow: 0 0 10px 5px #fff;
}
